<div class="modal fade" id="modifier-apercu{{componentIndex}}">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Modifier les aperçus</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="apercues{{componentIndex}}">
					<div class="row">
						<div class="col-md-6 col-sm-12 mb-3" *ngFor="let url of backgrounds; let i = index" (click)="deleteAction(i)">
							<div class="apercue" [ngStyle]="{background: 'url(' + (states.terrainHost + url) + ') no-repeat', backgroundSize: 'cover', backgroundPosition: 'center'}">
								<div class="cross cross-top"></div>
								<div class="cross cross-bottom"></div>
							</div>
						</div>
					</div>
					<div class="custom-file">
						<input type="file" class="custom-file-input" id="validatedCustomFile{{componentIndex}}" (change)="upload($event)">
						<label class="custom-file-label" for="validatedCustomFile{{componentIndex}}">Sélectionner une fichier</label>
					</div>
				</div>
			</div>
			<div class="modal-footer justify-content-between">
				<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
				<button type="button" class="btn btn-primary" (click)="saveAction()">Enregistrer</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
