<div class="login-page">
	<div class="login-box">
		<div class="login-logo">
			<a [routerLink]="['/', 'application', 'client']"><b>Green</b>FIELD</a>
		</div>
		<!-- /.login-logo -->
		<div class="card">
			<div class="card-body login-card-body">
				<p class="login-box-msg">Sign in to start your session</p>
				
				<form [formGroup]="loginForm" (submit)="loginFormAction()" method="post" autocomplete="off">
					<div class="input-group mb-3">
						<input type="email" class="form-control" placeholder="Nom d'utilisateur ou email" formControlName="nomUtilisateur">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-envelope"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="password" class="form-control" placeholder="Mot de passe" formControlName="motDePasse">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="icheck-primary ml-2 mb-3">
							<input type="checkbox" id="remember" formControlName="seSouvenirDeMoi">
							<label for="remember">
								Se souvenir de moi
							</label>
						</div>
					</div>
					<p class="text text-center text-danger" *ngIf="messageErreur.length">{{messageErreur}}</p>
					<div class="row">
						<button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Connexion</button>
					</div>
				</form>
			</div>
			<!-- /.login-card-body -->
		</div>
	</div>
	<!-- /.login-box -->
</div>
