<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark"><b><small>Gestion du terrain</small></b></h1>
				</div><!-- /.col -->
				<div class="col-sm-6">
					<div class="float-sm-right">
						<button class="btn btn-outline-primary" data-toggle="modal" data-target="#nouveau-modal" (click)="initInsertForm()"><span class="material-icons">add</span> Nouveau</button>
					</div>
				</div>
			</div><!-- /.row -->
		</div><!-- /.container-fluid -->
	</div>
	<app-terrain-insert [clients]="clients" [clientsView]="clientsView" [insertForm]="insertGroup" [clientSearchActive]="insertSearchClientActive" (insertDone)="insertAction($event)"></app-terrain-insert>
	<!-- /.content-header -->
	<div class="container mb-2">
		<div class="card">
			<div class="card-body">
				<!-- SEARCH FORM -->
				<form>
					<div class="input-group input-group-lg">
						<input class="form-control form-control-navbar" type="search" placeholder="Recherche" aria-label="Search">
						<div class="input-group-append">
							<button class="btn btn-primary" type="submit">
								<i class="fas fa-search"></i>
							</button>
						</div>
					</div>
					<div class="btn-group mt-2">
						<button class="btn btn-default mr-2 mb-2" data-toggle="modal" data-target="#element-par-page"><span class="material-icons">format_list_numbered</span></button>
						<button class="btn btn-default mr-2 mb-2" data-toggle="modal" data-target="#module-recherche"><span class="material-icons">view_module</span></button>
						<button class="btn btn-default mr-2 mb-2" data-toggle="modal" data-target="#tri"><span class="material-icons">sort</span></button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Main content -->
	<div class="content">
		<div class="container">
			<div class="row">
				<app-terrain-presentation-card [terrain]="terrain" [states]="childStates" [clients]="clients" [componentIndex]="i" (update)="reloadView()" class="w-100 col-12 col-sm-12 col-md-6 col-lg-4 d-flex align-items-stretch" *ngFor="let terrain of terrains; let i = index"></app-terrain-presentation-card>
				<!-- /.row -->
			</div><!-- /.container-fluid -->
			
			<!--			pagination-->
			<div class="row">
				<div class="col-12">
					<ul class="pagination float-right">
						<li [ngClass]="{'page-item': true, 'disabled': 1 == paginationHelper.getPageCourante()}" (click)="naviguerPage(1)">
							<button class="page-link"><span class="material-icons md-18">first_page</span></button>
						</li>
						<li [ngClass]="{'page-item': true, 'disabled': 1 == paginationHelper.getPageCourante()}" (click)="naviguerArriere(paginationHelper.getPageCourante())">
							<button class="page-link"><span class="material-icons md-18">chevron_left</span></button>
						</li>
						<li [ngClass]="{'page-item': true, 'active': page == paginationHelper.getPageCourante()}" *ngFor="let page of boutonPages" (click)="naviguerPage(page)">
							<button class="page-link">{{page}}</button>
						</li>
						<li [ngClass]="{'page-item': true, 'disabled': paginationHelper.getPageTotal() == paginationHelper.getPageCourante()}" (click)="naviguerAvant(paginationHelper.getPageCourante())">
							<button class="page-link"><span class="material-icons md-18">chevron_right</span></button>
						</li>
						<li [ngClass]="{'page-item': true, 'disabled': paginationHelper.getPageTotal() == paginationHelper.getPageCourante()}" (click)="naviguerPage(paginationHelper.getPageTotal())">
							<button class="page-link"><span class="material-icons md-18">last_page</span></button>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
</div>
<div class="modal fade" id="element-par-page">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h4>Element par page</h4>
			</div>
			<div class="modal-body">
				<div class="form-check"><label for="element6"><input type="radio" name="elementParPage" id="element6"> 6</label></div>
				<div class="form-check"><label for="element12"><input type="radio" name="elementParPage" id="element12"> 12</label></div>
				<div class="form-check"><label for="element18"><input type="radio" name="elementParPage" id="element18"> 18</label></div>
				<div class="form-check"><label for="element24"><input type="radio" name="elementParPage" id="element24"> 24</label></div>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-prepend">
							<label class="input-group-text" for="customElement"><input type="radio" name="elementParPage" id="customElement"></label>
						</div>
						<input type="number" class="form-control" name="elementParPage" placeholder="nombre d'éléments">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default">appliquer</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="module-recherche">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h4>Modules à rechercher</h4>
			</div>
			<div class="modal-body">
			
			</div>
			<div class="modal-footer">
				<button class="btn btn-default">appliquer</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="tri">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h4>Tri d'affichage</h4>
			</div>
			<div class="modal-body">
				<div class="form-check"><label for="atoz"><input type="radio" name="sortDirection" id="atoz"> A - Z</label></div>
				<div class="form-check"><label for="ztoa"><input type="radio" name="sortDirection" id="ztoa"> Z - A</label></div>
				<hr>
				<div class="form-check"><label for="nameSort"><input type="radio" name="sortConstraint" id="nameSort"> nom et prénom</label></div>
				<div class="form-check"><label for="cinSort"><input type="radio" name="sortConstraint" id="cinSort"> cin</label></div>
				<div class="form-check"><label for="addressSort"><input type="radio" name="sortConstraint" id="addressSort"> adresse</label></div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default">appliquer</button>
			</div>
		</div>
	</div>
</div>
