<div class="modal fade" id="modification-modal{{componentIndex}}">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Modifier le Terrain</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form [formGroup]="updateForm" (submit)="submitAction()">
					<input type="submit" value="" [hidden]="true" [disabled]="updateForm.invalid">
					<div class="form-group">
						<label for="modification-localisation{{componentIndex}}">localisation:<span class="text-danger">*</span></label>
						<input type="text" [ngClass]="{'form-control': true, 'is-invalid': updateForm.controls.localisation.touched && updateForm.controls.localisation.invalid}" formControlName="localisation" id="modification-localisation{{componentIndex}}">
						<ng-container *ngIf="updateForm.controls.localisation.touched && updateForm.controls.localisation.invalid">
							<small class="form-text text-danger" *ngIf="updateForm.controls.localisation.hasError('required')">Ce champ est requis</small>
						</ng-container>
					</div>
					<div class="form-group">
						<label for="client{{componentIndex}}">propriétaire:<span class="text-danger">*</span></label>
						<div class="input-group mb-2" [hidden]="!clientSearchActive">
							<input formControlName="rechercheProprietaire" type="text" class="form-control" placeholder="Recherche" (input)="filterClient()">
							<div class="input-group-append">
								<span class="btn btn-default">{{clientsView.length}}</span>
							</div>
						</div>
						<div class="input-group">
							<select formControlName="proprietaire" id="client{{componentIndex}}" class="custom-select">
								<option *ngIf="clientsView.length === 0" value="" [selected]="true">(Aucun client)</option>
								<option [value]="client.getId()" *ngFor="let client of clientsView">{{client.getNom()}} {{client.getPrenom()}}</option>
							</select>
							<div class="input-group-append">
								<button class="btn btn-primary" type="button" (click)="switchClientInputSearchShow()"><i class="fa fa-search"></i></button>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="modification-surface{{componentIndex}}">surface:<span class="text-danger">*</span></label>
								<input type="number" [ngClass]="{'form-control': true, 'is-invalid': updateForm.controls.surface.touched && updateForm.controls.surface.invalid}" id="modification-surface{{componentIndex}}" formControlName="surface">
								<ng-container *ngIf="updateForm.controls.surface.touched && updateForm.controls.surface.invalid">
									<small class="form-text text-danger" *ngIf="updateForm.controls.surface.hasError('required')">Ce champ est requis</small>
								</ng-container>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="modification-prix-par-metre{{componentIndex}}">prix par m²:<span class="text-danger">*</span></label>
								<input type="number" [ngClass]="{'form-control': true, 'is-invalid': updateForm.controls.prixParMetreCarre.touched && updateForm.controls.prixParMetreCarre.invalid}" id="modification-prix-par-metre{{componentIndex}}" formControlName="prixParMetreCarre">
								<ng-container *ngIf="updateForm.controls.prixParMetreCarre.touched && updateForm.controls.prixParMetreCarre.invalid">
									<small class="form-text text-danger" *ngIf="updateForm.controls.prixParMetreCarre.hasError('required')">Ce champ est requis</small>
								</ng-container>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="modification-relief{{componentIndex}}">relief:<span class="text-danger">*</span></label>
						<select id="modification-relief{{componentIndex}}" formControlName="relief" class="custom-select">
							<option value="Coline">Coline</option>
							<option value="Montagne">Montagne</option>
							<option value="Plateau">Plateau</option>
							<option value="Plaine">Plaine</option>
						</select>
					</div>
					<div class="form-check">
						<label for="modification-en-vente{{componentIndex}}">
							<input type="checkbox" formControlName="enVente" id="modification-en-vente{{componentIndex}}"> en vente
						</label>
					</div>
				</form>
			</div>
			<div class="modal-footer justify-content-between">
				<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
				<button type="button" class="btn btn-primary" [disabled]="updateForm.invalid" (click)="submitAction()">Enregistrer</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
