/* You can add global styles to this file, and also import other style files */
html, body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.material-icons {
  vertical-align: middle !important; /*Change this to adjust the icon*/
}
